.container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: inline-block;
  width: 100%;
  flex-direction: column;
}

.controls {
  height: 100px;
  border: 2px outset lightblue;
  max-width: 70%;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: inline-block;
  width: 100%;
  box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.75);
}

.controlButton:hover {
  cursor: pointer;
}

.controls > div > label {
    font-family: 'Fira Sans', sans-serif;
}

label {
  display: block;
}

input,
button {
  display: inline-block;
}

.input {
  background-color: darkcyan;
  color: white;
}

.controlButton {
  padding-top: 5px;
  margin-top: 2px;
  margin-left: 2px;
  width: 50px;
}

.input {
  width: 80%;
}

.notShuffled {
  background-color: red;
}

.shuffled {
  box-shadow: inset 2px 2px 10px #000;
  outline: none;
  border: 1px solid black;
  border-radius:2px;
  background-color: green ;
}